/*Site Master for navbar*/
.cust-footer-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap; /* Wrap to the next line if needed */
}
.cust-footer-box {
    /* display: inline-block;
    width: 30%; /* Adjusting the width as needed : for future ref arun saru */
    flex: 1;
    margin: 10px;
    border-radius: 4px;
    padding:2px;
    background-color: #fbfbf9;
    /*border: 1px solid #000;  testing Optional border for visualization*/
}
.cust-footer-box p {
     text-align: justify;
     padding:4px 2px 0px 2px;
}

/*Site Master for navbar End*/



/*For About Page*/
.about-bg {
    height: auto;
    background-color: #DFCCFB;
    margin: 10px 10px 10px 10px;
    padding: 20px;
    border: 2px solid #D0BFFF;
    border-radius: 8px;
    box-shadow: inherit;
    filter: drop-shadow(0 0 0.75rem crimson);
}


/*For About Page End*/

/* Media Query for Mobile Screens */
@media screen and (max-width: 768px) {
    .cust-footer-box {
        flex: 1 1 100%; /* Full width for mobile screens */
        margin: 5px; /* Reduce margin for mobile screens */
    }
}